h1 Hello world!

ul.css
  - each url in resmin.css.all
    li= url

ul.stylesheets
  - each url in resmin.stylesheets.all
    li= url

ul.js
  - each url in resmin.js.all
    li= url

ul.javascripts
  - each url in resmin.javascripts.all
    li= url
